extends layout

block content
  #game

  script(type='text/javascript', src='http://codeorigin.jquery.com/jquery-2.0.3.js')
  != js('underscore')
  != js('crafty')

  script(type='text/javascript').
    window.grassland = {}
    window.Game = {}
  != js('empty-grassland-map-32x32')
  != js('empty-grassland-map-64x64')
  != js('empty-grassland-map-96x96')
  != js('empty-grassland-map-128x128')
  != js('game')

  script(type='text/javascript').
    window.addEventListener('load', Game.start);
