@import 'fluidity'

body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#top-spacer {
    height: 20px;
}

#game {
    grid();

    #cr-stage {
        grid-space(65%);
    }

    .sidebar {
        grid-space(35%);
        float: right;
        height: 640px;

        .attributes {
            grid-space(50%);

            .attribute {
                height: 1.5em;
            }
        }

        .abilities {
            grid-space(50%);
            .ability {
                margin-top: 0.5em;
            }
        }

        .logs {
            border-top: solid 1px;
            margin-top: 3em;
            padding-top: 1em;

            li {
                list-style: none;
            }
        }
    }
}

